:root {
  --ESTADO_PENDIENTE: grey;
  --ESTADO_CURSO: orange;
  --ESTADO_REGULAR: yellow;
  --ESTADO_APROBADO: yellowgreen;
  --ESTADO_LIBRE: red;
}


.estados {
  display: flex ;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
  height: 40px;
  position: absolute;
  bottom: 40px;
  border: solid 1px;
  background-color: white;
}

.estados .estado {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.estado.pendiente{
  background-color: var(--ESTADO_PENDIENTE);
}

.estado.curso{
  background-color: var(--ESTADO_CURSO);
}

.estado.regular{
  background-color: var(--ESTADO_REGULAR);
}

.estado.aprobado{
  background-color: var(--ESTADO_APROBADO);
}

.estado.libre{
  background-color: var(--ESTADO_LIBRE);
}