.hidden {
  display: none !important;
}
.opacity {
  background-color: black;
  opacity: 50%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
